@model IEnumerable<StockManagement.Models.StockTransfer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromStock.StockID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToStock.StockID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockTransferID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockTransferID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StockTransferID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
